<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Django Project{% endblock %}</title>
    </head>
    <body>
        <header>
            {% block header %}
            <nav>
                <a href="{% url 'index' %}">홈</a>
            </nav>
            {% endblock %}
        </header>
        <main>{% block content %}메인 글{% endblock %}</main>
        <footer>{% block footer %}Footer{% endblock %}</footer>
    </body>
</html>