<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Django Project{% endblock %}</title>
    </head>
    <body>
        <header>
            {% block header %}
            <nav>
                <a href="{% url 'index' %}">홈</a>
                <a href="{% url 'posts:post_list' %}">게시글</a>
                
                {% if user.is_authenticated %}
                    <!-- 로그인한 사용자에게만 표시 -->
                    <form method="post" action="{% url 'accounts:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    <a href="{% url 'accounts:profile' %}">프로필</a>
                {% else %}
                    <!-- 비로그인 사용자에게만 표시 -->
                    <a href="{% url 'accounts:signup' %}">회원가입</a>
                    <a href="{% url 'accounts:login' %}">로그인</a>
                {% endif %}
            </nav>
            {% endblock %}
        </header>
        <main>{% block content %}메인 글{% endblock %}</main>
        <footer>{% block footer %}Footer{% endblock %}</footer>
    </body>
</html>
